.top-menu-section {
    display: flex;
    justify-content: space-around;
    background-color: #f8f9fa; /* خلفية القائمة العلوية */
    padding: 10px;
    border-bottom: 1px solid #dee2e6; /* حدود أسفل القائمة */
}

.top-menu-label {
    background: none;
    border: none;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.top-menu-item-container {
    display: flex;
    flex-direction: row;
}

.top-menu-item {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff; /* لون النص */
}

.top-menu-item:hover {
    text-decoration: underline;
}
